---
#Front Matter Being Initialized Here
#Do Not Delete
---

//Imports
@import "variables.scss";

@media only screen and (max-width: 1199px) {
  .dawgGoogleMaps {
    .dawgModalUnit {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 767px) {
	body {
		font-size: 1.5rem;
	}

 	h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 2.0rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.5rem;
  }

  .dawgGoogleMaps {
    .jumbotronParent {
      height: auto;
      .posContainer {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        -webkit-transform: none;
        .frameBorder {
          .segment {
            width: 100%;
            float: none;
          }
        }
      }
    }
  }
}
