@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Vollkorn+SC:400,700');

/*************************************************\
    Variable Declaration Details Starts Here
\************************************************/
$black: #000000;
$white: #ffffff;
$paleSilver: #d5c7bc;
$roseQuartz: #ac92a6;
$weldonBlue: #7c9eb2;
$linkBlue: #0886da;
$headingFont: 'Vollkorn SC', serif;
$contentFont: 'Roboto', sans-serif;

@mixin transition($type, $duration, $style) {
  transition: $type, $duration, $style;
  -webkit-transition: $type, $duration, $style;
  -moz-transition: $type, $duration, $style;
  -ms-transition: $type, $duration, $style;
  -o-transition: $type, $duration, $style;
}
