<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ page.title }}</title>

    <!-- Bootstrap -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
		<link href="{{ site.baseurl }}/css/style.css" rel="stylesheet" type="text/css"/>
		<link href="{{ site.baseurl }}/css/responsive.css" rel="stylesheet" type="text/css"/>
  </head>
  <body class="dawgGoogleMaps">
    <div class="mainSiteBorder">
      {{ content }}
      
      <!--Footer Details Starts Here-->
      <footer>
        <div class="footerParent">
          <div class="dawgRow">
            <div class="col-xs-12 col-sm-4 segment">
              <h5>Dawg Google Maps</h5>
              <p>A simple project demonstrating the Google Maps Javasccript API. This project and its source code is unlicenced and is free for distribution.</p>
            </div>
            <div class="col-xs-12 col-sm-4 segment">
              <h5>Documentation</h5>
              <p>Interested in understanding what this project is about? <a href="#" target="_blank">Click Here</a> to know more</p>
            </div>
            <div class="col-xs-12 col-sm-4 segment">
              <ul class="list-unstyled socialList">
                <li><a href="#" target="_blank"><img src="{{ site.baseurl }}/assets/images/github-mark.png" class="img-responsive" alt="Sricharan Krishnan" title="https://github.com/sricharankrishnan"/></a></li>
              </ul>
            </div>
            <div class="clearfix hidden-xs"></div>
            <div class="col-xs-12 col-sm-4 segment">
              <h5>Support</h5>
              <p>If you like what been done, go ahead and support this project. The best thing to do is to star this project on Github if you have an account. <a href="#" target="_blank">Click here</a> to go to the project page to support. Or just spread the word.</p>
            </div>
          </div>
        </div>
      </footer>
      <!--Footer Details Ends Here-->
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/common.js"></script>
  </body>
</html>
